footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
  min-height: 20%;
  p {
    font-size: var(--font-xs);
    color: var(--color-primary);
  }
  a {
    width: 2rem;
    height: auto;
  }
  div {

    width: 4rem;
    height: auto;
    overflow: hidden;

    img {
      max-width: 300px;
      width: 100%;
      height: auto;
      will-change: transform, opacity;
      opacity: 0;
      transform: translateY(20px);
      transition: opacity 1s ease, transform 1s ease;

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  @media (min-width: 1400px) {
    p {
      font-size: var(--font-s);
    }
    a {
      display: flex;
      justify-content: center;
      img {
        width: 5rem;
      }
    }
  }
}
