section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
  min-height: 20%;
  p {
    font-size: var(--font-xs);
    color: var(--color-primary);
  }
  a {
    width: 2rem;
    height: auto;
    img {
      transition: filter 0.3s;
      &:hover {
        filter: brightness(1.2);
      }
    }
  }
  div {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    animation: greet 1s infinite;
    transition: ease-in-out 0.3s;

  }
  @keyframes greet {
    0% {
      background-image: url("animation-despedir/1.png");
    }
    25% {
      background-image: url("animation-despedir/2.png");
    }
    50% {
      background-image: url("animation-despedir/3.png");
    }
    75% {
      background-image: url("animation-despedir/4.png");
    }
    100% {
      background-image: url("animation-despedir/5.png");
    }
  }
  @media (min-width: 700px) {
    p {
      font-size: var(--font-s);
    }
    a {
      img {
        width: 3rem;
      }
    }
  }
  @media (min-width: 1200px) {
    p {
      font-size: var(--font-m);
    }
    a {
      display: flex;
      justify-content: center;
      img {
        width: 5rem;
      }
    }
  }
}
