<footer>
  <a href="https://www.linkedin.com/in/emad-kadyear/" target="_blank" aria-label="Perfil de Emad en LinkedIn">
    <img src="icons/linkedln.svg" alt="Logo LinkedIn" />
  </a>
  <a href="https://github.com/Ematius" target="_blank" aria-label="Perfil de Emad en GitHub">
    <img src="icons/github.svg" alt="Logo GitHub" />
  </a>

  <p>Creado y diseñado por Emad Kadyear</p>

  <div>
    <img #img [class.visible]="isVisible" src="img/ponytail-greeting.webp" alt="Avatar de Emad saludando" />
  </div>
</footer>
