footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin: 0.5rem;
  min-height: 20%;
  p {
    font-size: var(--font-xs);
    color: var(--color-primary);
  }
  a {
    width: 2rem;
    height: auto;
  }
  div {
    perspective: 1000px;
    img {
      width: 4.2rem;
      height: auto;
      animation: goodbye 1s ease-in-out forwards;
    }
  }

  @media (min-width: 700px) {
    p {
      font-size: var(--font-s);
    }
    a {
      img {
        width: 3rem;
      }
    }
  }
  @media (min-width: 1200px) {
    p {
      font-size: var(--font-m);
    }
    a {
      display: flex;
      justify-content: center;
      img {
        width: 5rem;
      }
    }
  }
}

@keyframes goodbye {
  0% {
    transform: translateY(500px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    scale: 1.5;
  }
}
