section {
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: var(--font-l);
      margin-bottom: 1rem;
      color: var(--color-primary);
      text-shadow: 3px 3px 1px var(--color-tertiary);
    }
    p {
      font-size: var(--font-s);
      margin: 1rem;
    }
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: center;
      perspective: 500px;
      li {
        width: 20%;
        height: 100px;
        border-radius: 50%;
        background: radial-gradient(
          circle at 30% 30%,
          var(--color-primary),
          var(--color-secondary)
        );
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-s);
        font-weight: var(--weight-400);
        box-shadow: 2px 5px 5px var(--color-tertiary);
      }
      li:hover{
        transform: rotateZ(10deg);
        scale: (1.1);
      }
    }
  }
  @media(min-width:1200px){
    div{
      h2{
        font-size: var(--font-l);
        margin-bottom: 2rem;
      }
      p{
        font-size: var(--font-base);
        margin: 5rem;
      }
      ul{
        li{

        height: 200px;
        font-size: var(--font-base);
        font-weight: var(--weight-400);
        }
      }
    }
  }
  @media(min-width: 1500px){
    div{
      ul{
        li{
      
        height: 200px;
        font-size: var(--font-base);
        font-weight: var(--weight-600);
        }
      }
    }
  }
}
