<article #articleRef>

<div class="about-wrapper" #divTextRef>
  <h2>Sobre mí</h2>
  <p> ¡Hola! Soy Emad, un desarrollador que se ha iniciado ya en varios proyectos. Comencé
    este camino de forma autodidacta por pura curiosidad y pasión.
    Tuve la oportunidad de formarme de manera profesional en el certificado IFCD0210 de Desarrollo de Aplicaciones Web,
    donde adquirí una base sólida tanto en frontend como en backend adquiriendo la capacidad de desenvolverme con estos
    <button (click)="toggleSkills()" class="toggle-button">
      <a>
        <span class="text">Conocimientos:</span>
        <span class="line -right"></span>
        <span class="line -top"></span>
        <span class="line -left"></span>
        <span class="line -bottom"></span>
      </a>
    </button></p>
<nav role="navigation" aria-label="Habilidades">
  <div class="container-skills">
    @if(showSkills) {
    <ul class="skills-list">
      @for(icon of icons; track icon.name) {
      <li class="skill-item">
        <img [src]="'icons/' + icon.file" [alt]="icon.name + 'logo'"  />
        <span>{{ icon.name }}</span>
      </li>
      }
    </ul>
    }

  </div>
</nav>
    <p> En septiembre comenzare el Grado Superior en Desarrollo de
    Aplicaciones Web (DAW), con una meta clara: convertirme
    en un desarrollador capaz de enfrentar cualquier reto. </p>
</div>



  <div class="card-wrapper" >
    <div class="card" #cardRef>
      <img src="img/saludo-coleta3D.webp" alt="Avatar" class="avatar" />
      <div class="contact-box">
        <a href="https://www.linkedin.com/in/emad-kadyear/" target="_blank" aria-label="Perfil LinkedIn de Emad">
          <img src="icons/linkedln.svg" alt="logo linkedln">
        </a>
        <a href="mailto:eksaber87@gmail.com" target="_blank" aria-label="Enviar correo a Emad">
          <img src="icons/email.svg" alt="Enviar correo">
        </a>
        <a href="https://github.com/Ematius" target="_blank" aria-label="Perfil GitHub de Emad">
          <img src="icons/github.svg" alt="logo github">
        </a>
      </div>
    </div>
  </div>

</article>
