<article #articleRef>

<div class="divText" #divTextRef>
  <h2>Sobre mí</h2>
  <p> ¡Hola! Soy Emad, un desarrollador que se ha iniciado ya en varios proyectos. Comencé
    este camino de forma autodidacta, explorando lenguajes como Python y Java por pura curiosidad y pasión. Más adelante,
    tuve la oportunidad de formarme de manera profesional en el certificado IFCD0210 de Desarrollo de Aplicaciones Web,
    donde adquirí una base sólida tanto en frontend como en backend. </p>
  <p> En septiembre comenzare el Grado Superior en Desarrollo de
    Aplicaciones Web (DAW), con el objetivo de especializarme y seguir aprendiendo cada día. Me defino como una persona
    creativa, curiosa y con muchas ganas de aportar. Mi meta es clara: convertirme
    en un desarrollador capaz de enfrentar cualquier reto con entusiasmo y compromiso. </p>
</div>

  <div>

    <div class="card" #cardRef>

      <img src="img/saludo-coleta3D.webp" alt="Avatar" class="avatar" />
      <div class="contact-box">
        <a href="https:/www.linkedin.com/in/emad-kadyear/" target="_blank">
          <img src="icons/linkedln.svg" alt="logo linkedln">
        </a>
        <a href="mailto:eksaber87@gmail.com" target="_blank">
          <img src="icons/email.svg" alt="Enviar correo">
        </a>
        <a href="https://github.com/Ematius" target="_blank">
          <img src="icons/github.svg" alt="logo github">
        </a>
      </div>
    </div>



  </div>

</article>
