<section >
  <div>
    <h2>Sobre mí</h2>
    <p>
      Hola, soy Emad Kadyear, actualmente estoy en el apasionante camino de ser programador, comencé mi formación de forma autodidacta hasta que pude inscribirme en el certificado profesional de desarrollo de aplicaciones web. Este a sido mi primer paso, pero no el último, ya que mi objetivo es seguir formándome y especializándome en el mundo de la programación y poder formarme en el grado superior de DAW.
    </p>
  <p>
    Gracias a esta formación, tengo la posibilidad de buscar prácticas con conocimientos como <strong>Full-Stack
      Developer</strong> usando tecnologías como:
  </p>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>TypeScript</li>
      <li>Angular</li>
      <li>Node.js</li>
      <li>Express</li>
      <li>Next.js</li>
      <li>MySQL</li>
      <li>MongoDB</li>
      <li>Vitest</li>
      <li>Jest</li>
      <li>Prettier</li>
      <li>ESLint</li>
      <li>Postman</li>
      <li>Swagger</li>
    </ul>
  </div>
</section>


