nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  h2 {
    font-size: var(--font-m);
    margin-bottom: 1rem;
    color: var(--color-primary);
    text-shadow: 2px 2px var(--color-quaternary);
  }
  /* src/app/components/skills/skills.component.scss */
  .skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 1rem;

    gap: 1rem;
    .skill-item {
      &:hover {
        transform: scale(1.05);
        span{
          display: block;
          text-align: center;
          font-size: .5rem;
        }
      }
    }

    img {
      flex-shrink: 0;
    }

    span {
      display: none ;
    }
  }

  @media (min-width: 1400px) {
    ul {
      li {
        width: 20%;
      }
    }
  }
}
