nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding-top: 5rem;
  h2 {
    font-size: var(--font-m);
    margin-bottom: 1rem;
    color: var(--color-primary);
    text-shadow: 2px 2px var(--color-tertiary);
  }
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    li {
      width: 30%;
      height: 40px;
      background: var(--color-primary);
      border-radius: 20px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-xs);
      font-weight: var(--weight-400);
      box-shadow: 3px 4px 1px var(--color-tertiary);
      margin: 0.3rem;
    }
    li:hover {
      scale: (1.1);
    }
  }
  @media (min-width: 1400px) {
    ul {
      li {
        width: 20%;
      }
    }
  }
}
