menu {
  width: 100%;
  position: fixed;
  z-index: 100;
  details {
    summary {
      list-style: none;
      text-decoration: none;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.8);
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(255, 255, 255, 0.9);
        transform: scale(1.05);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      }
    }
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: black;
      font-size: var(--font-xs);
      font-weight: var(--weight-400);
      margin: 1rem;

      li {
        margin: 0.5rem;
        padding-right: 0.5rem;
        backdrop-filter: blur(4px);
        border-radius: 1rem;
        cursor: pointer;

        a {
          span {
            margin: 0.5rem;
            padding-left: 0.5rem;
          }
        }
        a.active {
          font-weight: var(--weight-700);
          font-size: var(--font-lg);
          border-bottom: 2px solid currentColor;
        }
      }
    }
  }
  @media (min-width: 700px) {
    ul {
      font-size: var(--font-s);
    }
  }
  @media (min-width: 1200px) {
    ul {
      font-size: var(--font-s);
      li {
        margin: 1rem;
        padding-right: 1rem;
      }
    }
  }
}
