menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-base);
  font-weight: var(--weight-500);
  color: var(--color-primary);
  box-shadow: 0 3px 0px rgba(0, 0, 0, 0.2);

  details {
    position: relative;
    box-shadow: 0 3px 0px rgba(0, 0, 0, 0);

    summary {
      list-style: none;
      cursor: pointer;
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
      }
    }

    ul {
      list-style: none;
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 0;
      transform: translateX(-50%);

      z-index: 1;
      
      li {
        width: 100%;
        background-color: inherit;
        a {
          backdrop-filter: blur(5px);
          background-color: rgba(255, 255, 255, 0.8);
          width: 100%;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
