div {
  position: fixed;
  width: 100%;
  z-index: 300;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  padding-top: .5rem;
  padding-left: .5rem;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: .5rem;
    p {
      font-size: var(--font-base);
      color: var(--color-primary);
    }
    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      margin-right: .5rem;
      img {
        width: 1.7rem;
        height: 1.7rem;


      }
    }
  }
  nav {
    padding-top: 1rem;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:.5rem;
      padding-bottom: 1rem;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: var(--color-primary);
          font-size: var(--font-base);
          &:hover{
            color: var(--color-secondary);
            transition: all 0.3s ease-in-out;
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .nav-hidden{
    display: none;
  }
}
