<main>

  <div class="containerWelcome">
    <p>Bienvenido, soy</p>
    <div class="line">
      <span class="space"> </span>
      <span>E</span><span>m</span><span>a</span><span>d</span>
      <span class="space"> </span>
      <span>K</span><span>a</span><span>d</span><span>y</span><span>e</span><span>a</span><span>r</span>
    </div>
  </div>

  <div class="containerImg">
    <div class="photo">
    </div>
    <img src="img/sonrisa3d.webp" alt="">
  </div>

  <div class="containerName">


    <div class="lineFullStack">
      <span>F</span><span>u</span><span>l</span><span>l</span> <span class="space"></span>
      <span>s</span><span>t</span><span>a</span><span>c</span><span>k</span>
    </div>
    <div class="lineDeveloper">
      <span>D</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span><span>e</span><span>r</span>
    </div>

  </div>

  <div class="divText">
    <p>
      De autodidacta a desarrollador en formación constante. Estoy construyendo quiz con preguntas y ejercicios con
      todos los métodos de JS con Angular en el Frontend, Node.js, Express y MySql en el Backend. ¡Busco una oportunidad
      para crecer en el mundo IT!
    </p>
  </div>




  <div class="containerWelcomeNone">
    <p>Bienvenido, soy</p>

    <div class="lineNameNone">
      <span>E</span><span>m</span><span>a</span><span>d</span><span class="spaceNameNone"></span>
      <span>K</span><span>a</span><span>d</span><span>y</span><span>e</span><span>a</span><span>r</span>
    </div>

    <div class="lineFullStackNone">
      <span>F</span><span>u</span><span>l</span><span>l</span> <span class="spaceFullStackNone"></span>
      <span>s</span><span>t</span><span>a</span><span>c</span><span>k</span><span class="spaceFullStackNone"></span>
      <span>D</span><span>e</span><span>v</span><span>e</span><span>l</span><span>o</span><span>p</span><span>e</span><span>r</span>
    </div>

    <div class="divTextNone">
      <p>
        De autodidacta a desarrollador en formación constante. Estoy construyendo quiz con preguntas y ejercicios con
        todos los métodos de JS con Angular en el Frontend, Node.js, Express y MySql en el Backend. ¡Busco una
        oportunidad para crecer en el mundo IT!
      </p>
    </div>

  </div>



</main>
