article {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: var(--font-m);
  font-weight: var(--weight-Regular);
  color: var(--color-primary);
 
  .containerImg {
    h1,h3{
      font-weight: var(--weight-Black);
      text-align: center;
      text-shadow: 3px 3px  var(--color-quaternary);
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      width: 100%;
      max-width: 300px;
      height: fit-content;
      aspect-ratio: 1/1.38;
      filter: drop-shadow(1px 1px 5px var(--color-tertiary));
    }
  }
  @media (min-width: 1400px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
      .containerImg{
        width: 100%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .containerImg {
      img {
        margin: 3rem;
      }
    }
}
