article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-primary);
  min-height: 100vh;

  .h2Projects {
    color: white;
    font-size: var(--font-m);
    text-shadow: 3px 3px var(--color-tertiary);
  }
  .projects {
    display: flex;
    width: 80%;

    aspect-ratio: 5 / 2;
    img {
      width: 0px;
      flex-grow: 1;
      object-fit: cover;
      opacity: 0.8;
      transition: all 0.5s ease;
      &:hover {
        cursor: crosshair;
        width: 30vw;
          height: 100%;
        opacity: 1;
        filter: contrast(120%);
      }
    }
  }
  @media(min-width:1800px){
    .projects{
      width:70%;
    }
  }
    @media(min-width:2000px){
    .projects{
      width:65%;
    }
  }
     @media(min-width:2200px){
    .projects{
      max-width:60%;
    }
  }

}
