<section>

  <h2 #titleRef>Projects</h2>

  <img class="construction" src="img/under-construction.webp" alt="picture under construction" />

  <div #divRef>
  <img src="img/under-construction.webp" alt="picture under construction" />
  <img src="img/azul.png" alt="picture under construction" />
  <img src="img/gris.jpg" alt="picture under construction" />
  <img src="img/morado.png" alt="picture under construction" />
  <img src="img/under-construction.webp" alt="picture under construction" />
</div>
</section>
