<article>
  <h2 class="h2Projects">Proyectos</h2>
    <!-- <div class="titleProjects">
      <img src="img/projects/temple-of-fight.webp" alt=" Descripcion de herramientas usadas en Temple of Fight" />
      <img src="img/projects/geoControl.png" alt="Descripcion de herramientas usadas en Laboratorio Geocontrol"/>
      <img src="img/under-construction.webp" alt="Descripcion de herramientas usadas en Proyecto en construcción 3" />
    </div> -->

  <div class="projects">
    <img src="img/projects/temple-of-fight.webp" alt="Temple of Fight"
     onclick="window.open('https://github.com/Ematius/Temple_of_Fight', '_blank')" />
    <img src="img/projects/geoControl.png" alt="Laboratorio Geocontrol"
     onclick="window.open('https://laboratoriogeocontrol.com/', '_blank')" />
    <img src="img/under-construction.webp" alt="Proyecto en construcción 3" />
  </div>
</article>
