section {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;

  h2 {
    color: white;
    font-size: var(--font-l);
    text-shadow: 2.5px 1px var(--color-tertiary);
  }

  img {
    height: 60vh;
    width: auto;
  }

  div {
    display: none;
  }

  @media (min-width: 1400px) {
    .title {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100px;

    }


    div {
      display: flex;
      width: 900px;
      height: 100vh;

      img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: 0.8;
        &:hover {
          cursor: crosshair;
          width: 300px;
          opacity: 1;
          filter: contrast(120%);
        }
      }
    }

    .construction {
      display: none;
    }
  }
}
