article {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
  background-color: #6d42a2;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      color: white;
      font-size: var(--font-l);
      text-shadow: 3px 2px var(--color-tertiary);
    }
    img {
      width: auto;
    }
  }

  .projects {
    display: none;
  }
  .h2Projects {
    display: none;
  }
  @media (min-width: 1400px) {
    display: flex;
    justify-content: space-around;
    .h2Projects {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: var(--font-xl);
      color: var(--color-quaternary);
      text-shadow: 2.5px 1px var(--color-tertiary);
    }
    .title {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100px;
    }
    .projects {
      display: flex;
      width: 900px;
      height: 100vh;
      img {
        width: 0px;
        flex-grow: 1;
        object-fit: cover;
        opacity: 0.8;
        &:hover {
          cursor: crosshair;
          width: 300px;
          opacity: 1;
          filter: contrast(120%);
        }
      }
    }

    .construction {
      display: none;
    }
  }
}
