.indicator {
  background: rgb(0, 0, 0);
  width: clamp(150px, 20%, 300px);
  height: 25px;
  position: fixed;
  top: 25px;
  right: 5vw;
  border-radius: 0.5rem;
  .barLoading {
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgb(250, 240, 240);
    width: 0%;
    height: 100%;
    border-radius: 0.5rem;
    animation: resize auto linear, changeColor auto linear;
    animation-timeline: scroll(root block);

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

    }
  }
}

@keyframes resize {
  0% {
    width: 5%;
  }
  100% {
    width: 100%;
  }
}

@keyframes changeColor {
  0% {
    background-color: rgba(0, 128, 0, 0.8);
  }
  25% {
    background-color: rgba(153, 205, 50, 0.8);
  }
  50% {
    background-color: rgb(255, 255, 0, 0.8);
  }
  75% {
    background-color: rgb(255, 165, 0, 0.8);
  }
  100% {
    background-color: rgb(255, 0, 0, 0.8);
  }
}
